@media screen and (max-width: 500px) {

    #laptopshow{ display: block;}

    body{background-color: lightgrey; width: 100%; height: 100%;}

    a{color: aliceblue;}
    
    title{font-weight: bolder;}
    
    .Homepagetitle{background-image: url(slate\ background.jpg); color: white; border-style:
    solid; border-radius: 15px; border-color:
    white; border-width: 7px;text-align:
    center;font-family:"Courier New";
    font-weight: bolder;}
    
    .Homepagetext{background-image: url(slate\ background.jpg); color: white;
    border-style: solid; border-radius: 15px; border-color:
    white; border-width: 7px;text-align: center;
    font-family:"Courier New";}
    
    .LinkToUpComingArtists{width: 35%;
    border-style: solid; border-radius: 15px;
    border-color: white; border-width: 5px;
    background-image: url('Fontaines.jpg');text-align:
    center; font-family:"Papyrus";}
    
    .LinkToRankings{width: 35%; border-style: solid;
    border-radius: 15px; border-color: white; border-width: 5px;
    background-image: url('datanalaytis.jpg');text-align: center;
    font-family:"Papyrus"; background-size: 100%; background-position: center; background-repeat: no-repeat;
    margin-top: 5%;}
    
    
    .LinkToRankYourself{width: 35%;
    background-color: red; border-style: solid;
    border-radius: 15px; border-color: white;
    border-width: 5px;background-image: url('Libertines.jpg');
    text-align: center; font-family:"Papyrus"; margin-top: 5%;}
    
    .ArticleOfTheDay{
    color: white; border-style: solid;
    border-radius: 10px; border-color: white;
    border-width: 5px;text-align: 
    center;font-family:"Courier New"; background-image:
    url(wunderhorsecover.jpg); float: right;
    background-size: 100%; background-position: center; background-repeat: repeat;
    width: 60%; height: 700px;}
    
    .Bestdebutalbumn{color: white; border-style: solid;
    border-radius: 10px; border-color: white;
    border-width: 7px;text-align: 
    center;font-family:"Courier New";
    background-color: red;}
    
    
    .FavDebutLabel{text-align: center; color: black;background-color: white; border-radius: 10px;border-color: red;
    border-width:7px; border-style: solid;}
    
    
    .Homepage{background-image: url(slate\ background.jpg); width: 100px; border-radius: 10px; border-style: solid;
    border-color: white; border-width: 5px; font-family: 'Courier New', Courier, monospace;}
    
    .bestdebutlink{background-image: url('Arctoc\ M\ WPSIATWIN.jpg'); border-style: solid;
    background-size: 100%; background-position: center ;background-repeat: no-repeat;
    border-color: black; width: 49%; border-radius: 15px;
    height: auto; float: left; font-size: xx-large; margin-right: auto;}
    
    .bestliveperflink{background-image: url('up\ the\ bracket.jpg'); border-style: solid;
    background-size: 100%; background-position: center ;background-repeat: no-repeat;
    border-color: black; width: 49%; border-radius: 15px;
    height: auto; text-align: center; float: right; font-size: xx-large;}
    
    .UnderratedAlbumnlink{background-image: url('TRB\ hotel\ n\ casino.jpg'); border-style: solid;
    background-size: 100%; background-position: center ;background-repeat: no-repeat;
    border-color: black; width: 49%; border-radius: 15px;
    height: 340px; text-align: center; float: left; font-size: xx-large; margin-top: 30px; margin-right: auto;}
    
    .FavouriteCollaborationsLink{background-image: url('justice-band-cross-wallpaper-preview.jpg'); border-style: solid;
    background-size: 100%; background-position: center ;background-repeat: no-repeat;
    border-color: black; width: 49%; border-radius: 15px;
    height: auto; text-align: center; float: right; font-size: xx-large; margin-top: 30px;}
    
    .Dashboard{margin-left: 50px ;margin-right: 30px; border-style: solid; border-width: 5px;
    border-color: red; margin-top: 10px;}
    
    .SurveyAnalyticsTitle{background-color: red; text-align: center;
    border-style: solid;border-radius: 15px; border-width: 5px;
    border-color: white;}
    
    .FavouriteCollabs{background-image: url(Gallaghern\ Squire.jpg); border-style: solid;
    border-color: white; text-align: center; border-radius: 20px;
    height: 430px; border-width: 10px; font-size: xx-large;}
    
    .UnderratedAlbumns{background-image: url(mysterines.jpg); background-size: 100% ;border-style: solid;
    border-color: white; text-align: center; border-radius: 20px;
    height: 430px; border-width: 10px; font-size: xx-large;}
    
    .LivePerfomances{background-image: url(mardybumglasto.jpg); background-size: 100%; background-position: center ;border-style: solid;
    border-color: white; text-align: center; border-radius: 20px;
    height: 430px; border-width: 10px; font-size: xx-large;}
    
    .FavouriteDebutAlbumn{background-image: url(justicealbumncover.jpg); border-style: solid;
    border-color: white; text-align: center; border-radius: 20px;
    height: 430px; border-width: 10px; font-size: xx-large;}
    
}

@media screen and (min-width: 501px){

    #mobileshow{ display: block;}

    body{background-color: lightgrey; width: 100%; height: 100%;}

    a{color: aliceblue;}
    
    title{font-weight: bolder;}
    
    .Homepagetitle{background-image: url(slate\ background.jpg); color: white; border-style:
    solid; border-radius: 15px; border-color:
    white; border-width: 7px;text-align:
    center;font-family:"Courier New";
    font-weight: bolder;}
    
    .Homepagetext{background-image: url(slate\ background.jpg); color: white;
    border-style: solid; border-radius: 15px; border-color:
    white; border-width: 7px;text-align: center;
    font-family:"Courier New";}
    
    .LinkToUpComingArtists{width: 35%;
    border-style: solid; border-radius: 15px;
    border-color: white; border-width: 5px;
    background-image: url('Fontaines.jpg');text-align:
    center; font-family:"Papyrus";}
    
    .LinkToRankings{width: 35%; border-style: solid;
    border-radius: 15px; border-color: white; border-width: 5px;
    background-image: url('datanalaytis.jpg');text-align: center;
    font-family:"Papyrus"; background-size: 100%; background-position: center; background-repeat: no-repeat;
    margin-top: 5%;}
    
    
    .LinkToRankYourself{width: 35%;
    background-color: red; border-style: solid;
    border-radius: 15px; border-color: white;
    border-width: 5px;background-image: url('Libertines.jpg');
    text-align: center; font-family:"Papyrus"; margin-top: 5%;}
    
    .ArticleOfTheDay{
    color: white; border-style: solid;
    border-radius: 10px; border-color: white;
    border-width: 5px;text-align: 
    center;font-family:"Courier New"; background-image:
    url(wunderhorsecover.jpg); float: right;
    background-size: 100%; background-position: center; background-repeat: no-repeat;
    width: 60%; height: 600px;}
    
    .Bestdebutalbumn{color: white; border-style: solid;
    border-radius: 10px; border-color: white;
    border-width: 7px;text-align: 
    center;font-family:"Courier New";
    background-color: red;}
    
    
    .FavDebutLabel{text-align: center; color: black;background-color: white; border-radius: 10px;border-color: red;
    border-width:7px; border-style: solid;}
    
    
    .Homepage{background-image: url(slate\ background.jpg); width: 100px; border-radius: 10px; border-style: solid;
    border-color: white; border-width: 5px; font-family: 'Courier New', Courier, monospace;}
    
    .bestdebutlink{background-image: url('Arctoc\ M\ WPSIATWIN.jpg'); border-style: solid;
    background-size: 100%; background-position: center ;background-repeat: no-repeat;
    border-color: black; width: 49%; border-radius: 15px;
    height: 340px; float: left; font-size: xx-large; margin-right: auto;}
    
    .bestliveperflink{background-image: url('up\ the\ bracket.jpg'); border-style: solid;
    background-size: 100%; background-position: center ;background-repeat: no-repeat;
    border-color: black; width: 49%; border-radius: 15px;
    height: 340px; text-align: center; float: right; font-size: xx-large;}
    
    .UnderratedAlbumnlink{background-image: url('TRB\ hotel\ n\ casino.jpg'); border-style: solid;
    background-size: 100%; background-position: center ;background-repeat: no-repeat;
    border-color: black; width: 49%; border-radius: 15px;
    height: 340px; text-align: center; float: left; font-size: xx-large; margin-top: 30px; margin-right: auto;}
    
    .FavouriteCollaborationsLink{background-image: url('justice-band-cross-wallpaper-preview.jpg'); border-style: solid;
    background-size: 100%; background-position: center ;background-repeat: no-repeat;
    border-color: black; width: 49%; border-radius: 15px;
    height: 340px; text-align: center; float: right; font-size: xx-large; margin-top: 30px;}
    
    .Dashboard{margin-left: 50px ;margin-right: 30px; border-style: solid; border-width: 5px;
    border-color: red; margin-top: 10px;}
    
    .SurveyAnalyticsTitle{background-color: red; text-align: center;
    border-style: solid;border-radius: 15px; border-width: 5px;
    border-color: white;}
    
    .FavouriteCollabs{background-image: url(Gallaghern\ Squire.jpg); border-style: solid;
    border-color: white; text-align: center; border-radius: 20px;
    height: 430px; border-width: 10px; font-size: xx-large;}
    
    .UnderratedAlbumns{background-image: url(mysterines.jpg); background-size: 100% ;border-style: solid;
    border-color: white; text-align: center; border-radius: 20px;
    height: 430px; border-width: 10px; font-size: xx-large;}
    
    .LivePerfomances{background-image: url(mardybumglasto.jpg); background-size: 100%; background-position: center ;border-style: solid;
    border-color: white; text-align: center; border-radius: 20px;
    height: 430px; border-width: 10px; font-size: xx-large;}
    
    .FavouriteDebutAlbumn{background-image: url(justicealbumncover.jpg); border-style: solid;
    border-color: white; text-align: center; border-radius: 20px;
    height: 430px; border-width: 10px; font-size: xx-large;}

}